@charset "UTF-8";
.kontainer {
  margin-left: 5%;
  margin-right: 5%;
}

a:hover, a:active, button:hover, .button:hover, .img1:hover, .img2:hover, .img3:hover {
  cursor: pointer;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #32272D;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #32272D;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  font-weight: 700;
}

a, p, span, li {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #32272D;
  text-align: left;
  font-weight: 500;
  line-height: 40px;
  text-decoration: none;
}

a {
  font-weight: 700;
}

ul {
  list-style-type: "— ";
}

button, .button {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #32272D;
  text-align: left;
  font-weight: 500;
  line-height: 40px;
  text-decoration: none;
  font-weight: 700;
  background-color: #C5DE65;
  border: none;
  border-radius: 7px;
  padding: 5px 50px;
}

img, button, .button {
  -webkit-box-shadow: 3px 3px 7px 0px #32272D;
          box-shadow: 3px 3px 7px 0px #32272D;
}

.menu {
  background-color: #C5DE65;
  height: 80px;
  width: 100%;
  text-align: right;
}
.menu img {
  float: left;
  width: 280px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bg, .bg2 {
  background-size: 100% auto;
}
.bg .rowheight, .bg2 .rowheight {
  height: 850px;
}
.bg .rowheight p, .bg .rowheight li, .bg .rowheight h1, .bg2 .rowheight p, .bg2 .rowheight li, .bg2 .rowheight h1 {
  color: #EEE;
  text-shadow: 0 0 5px #32272D;
}

.bg {
  background: url("../img/bg1.jpg") no-repeat;
}
.bg h1 {
  text-align: left;
}
.bg li {
  margin-top: 25px;
}

.fadeOn {
  display: none;
}

.block {
  margin: 60px 0;
}
.block .advantages li {
  font-size: 25px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}
.block .advantages p {
  text-transform: uppercase;
  font-size: 25px;
}
.block .advantages h2 {
  text-align: left;
  margin-bottom: 30px;
}
.block img {
  width: 80%;
}
.block .margin60 {
  margin-top: 60px;
}
.block .margin30 {
  margin-top: 30px;
}
.block .img1:hover, .block .img2:hover, .block .img3:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.block .p .img2, .block .p .img1, .block .p .img3 {
  display: inline;
  float: right;
}
.block .p .img3 {
  width: 300px;
  margin-top: 300px;
  margin-left: 30px;
}
.block .p .img2 {
  width: 300px;
  margin-left: -300px;
}
.block .p .img1 {
  width: 373px;
  margin-left: 30px;
}

.mytable td {
  padding: 0 20px;
}
.mytable p {
  text-align: left;
}

.popup, .popup2 {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 102;
  background-color: rgba(0, 0, 0, 0.9);
}
.popup .popup-close, .popup2 .popup-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 200;
  width: 4rem;
  color: #C5DE65;
  font-size: 26px;
}
.popup .popup-close:hover, .popup2 .popup-close:hover {
  cursor: pointer;
}

.gallery-slider, .gallery-slider2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.gallery-slider img, .gallery-slider2 img {
  display: block;
  margin: 0 auto;
  height: 700px;
  width: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.prev, .next {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  z-index: 500;
  width: 20px;
  height: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: 20px;
}

.prev {
  background: url("../img/prev.svg") center no-repeat;
  left: 5%;
}

.next {
  background: url("../img/next.svg") center no-repeat;
  right: 5%;
}

.bg2 {
  background: url("../img/bg2.jpg") no-repeat;
}
.bg2 h1 {
  margin: 60px 0 60px 0;
}

.form {
  margin-bottom: 60px;
  width: 100%;
  height: 100%;
  padding: 60px 50px;
  background-color: #C5DE65;
  text-align: left;
  -webkit-box-shadow: 3px 3px 7px 0px #32272D;
          box-shadow: 3px 3px 7px 0px #32272D;
  border-radius: 10px;
}
.form textarea {
  height: 250px;
}
.form input, .form textarea {
  margin-bottom: 20px;
  display: block;
  border: 2px solid #32272D;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.form button {
  width: 100%;
  font-weight: 600;
  text-align: center;
  background-color: #32272D;
  color: #EEE;
  padding: 10px;
  line-height: 30px;
}