// Основные цвета
$black: rgba(16, 29, 35, 1);
$red: rgba(233, 61, 7, 1);
$orange: rgba(243, 133, 98, 1);
$blue: rgba(243, 246, 248, 1);
$dark-grey: rgba(82, 96, 103, 1);
$grey: rgba(142, 143, 155, 1);
$light-grey: rgba(196, 196, 196, 1);
$white: rgba(255, 255, 255, 1);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: $black;
}
body {
    background-color: $white;
    font-family: 'Montserrat', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}
.container {
  padding-inline: clamp(1.25rem, -12.631rem + 29.22vw, 22.438rem);
}
h1 {
  font-size: clamp(1.438rem, 0.844rem + 1.25vw, 1.875rem);
  font-weight: 500;
  text-align: left;
}
h2 {
  font-size: clamp(0.875rem, 0.705rem + 0.36vw, 1rem);
  font-weight: 500;
  text-align: left;
}
span {
  font-size: 0.41rem;
  font-weight: 600;
  text-transform: uppercase;
}
a, p {
  font-size: clamp(0.625rem, -0.167rem + 1.11vw, 0.75rem);
  font-weight: 500;
  line-height: 1.5;
}
a {
    text-decoration: none;
    transition: scale .5s,
}
a:hover {
  color: $red;
  cursor: pointer;
}
.data {
  color: $light-grey;
}
.red {
  color: $red;
  font-weight: bold;
}
.grey {
  color: $light-grey;
}
button {
  background-color: $red;
  color: $white;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  background-color: $orange;
  cursor: pointer;
}
button.disactive {
  background-color: $white;
  color: $red;
  border: 1px solid $red;
}
button.disactive:hover {
  color: $orange;
  border: 1 px solid $orange;
}

// Шапка
.header__links {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas:
    ". contacts media";
  justify-content: space-between;
  height: 41px;
  padding-block: 14px;
  border-bottom: 1px solid $light-grey;
}
.header__contacts {
  grid-area: contacts;
  display: flex;
  gap: 34px;
    a {
      display: flex;
    }
    img {
      width: 18px;
      height: auto;
    }
}
.header__media {
  grid-area: media;
  display: flex;
  gap: 16px;
}
.header__img-icon {
  margin-right: 11px;
}
.header__menu-logo {
  width: clamp(11.25rem, -0.229rem + 16.11vw, 13.063rem);
}
.header__menu {
  padding-block: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.header__menu-links {
  display: flex;
  gap: clamp(0.938rem, -2.031rem + 6.25vw, 3.125rem);
}

.header__hamburger {
    display: none;
    position: relative;
    width: 34px;
    height: 20px;
    border: none;
    background-color: transparent;
    border-radius: 0;
    z-index: 1001;
    span {
        position: absolute;
        right: 0;
        width: 34px;
        height: 3px;
        background-color: #212529;
        transition: transform .5s, opacity .1s;
    }
    span:nth-child(1) {
        transform: translateY(-10px);
    }
    span:nth-child(3) {
        transform: translateY(10px);
    }
}
.header__hamburger:hover {
  background-color: transparent;
}

// Главный экран
// Баннеры
.main__products {
  display: grid;
  grid-template-columns: auto clamp(15.063rem, -0.375rem + 21.67vw, 17.5rem);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  'slider sales'
  'slider calculator';
  gap: clamp(0rem, -1.781rem + 3.75vw, 1.313rem);
  height: clamp(23.75rem, 33.33vw, 27.5rem);
}
// Слайдер
.main__slider-container {
  grid-area: slider;
  position: relative;
  width: 100%;
  height: clamp(23.75rem, 33.33vw, 27.5rem);
  overflow: hidden;
}
.main__slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.main__slide {
  position: relative;
  min-width: 100%;
  height: 100%;
  h1, p {
    position: absolute;
    left: clamp(1.125rem, -0.519rem + 4.87vw, 3.5rem);
  }
  h1 {
    top: clamp(6.563rem, 2.322rem + 12.56vw, 12.688rem);
  }
  p {
    top: clamp(13.875rem, 9.245rem + 13.72vw, 20.563rem);
  }
}
.main__controls {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 20px;
  z-index: 10;
}

.main__sales {
  grid-area: sales;
  background-color: $red;
}
.main__calculator {
  grid-area: calculator;
  background-color: $black;
  
}
.main__sales, .main__calculator {
  position: relative;
}
.main__circle {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.main__icon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: minmax(80%, 160px);
  height: auto;
}
.main__sales-header, .main__calculator-header {
  position: absolute;
  left: 20px;
  border-radius: 20rem;
  padding: 10px;
  line-height: 0;
}
.main__sales-text, .main__calculator-text {
  position: absolute;
  left: 20px;
  bottom: 20px;
  margin-top: 10px;
  color: $white;
}

.main__sales-header {
  background-color: $white; 
  color: $black;
  top: 110px;
}
.main__calculator-header {
  background-color: $red; 
  color: $white;
  top: 90px;
}

// Преимущества
.main__advantages {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  align-items: start;
  gap: clamp(1.563rem, 0.205rem + 2.86vw, 2.563rem);
}
.main__advantages-item {
  display: flex;
  align-items: start;
  gap: 23px;
  img {
    height: 100%;
    width: auto;
    flex-shrink: 0;
  }
}

// Интерактивная карта
.business-solutions {
  margin-top: 101px;
  position: relative;
}
.business-solutions__controls {
  display: flex;
  margin-top: 30px;
  gap: 19px;
}
.business-solutions__btn, .cases__btn {
  border-radius: 20px;
  width: 130px;
  height: 30px;
  border: 1px solid $red;
  background: $white;
  color: $red;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  
  // Активная кнопка (списком)
  &:not(.disactive) {
    background: $red;
    color: $white;
    border-color: $red;
  }
  
  // Неактивная кнопка (на схеме)
  &.disactive {
    background: $white;
    color: $red;
    border-color: $red;
    
    &:hover {
      background: lighten($red, 45%);
    }
  }
}

// Скрываем карту в режиме списка
.business-solutions__map[style*="display: none"] {
  ~ .business-solutions__catalog-container {
    display: none;
  }
}

.business-solutions__catalog-container {
    margin-top: clamp(1.875rem, -3.513rem + 7.57vw, 4.813rem);
    min-height: 388px;
}
.business-solutions__list.active {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 78px;
  gap: 22px 50px;
  a {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    border-bottom: 1px solid $light-grey;
  }
}
.business-solutions__list {
  display: none;
}
.business-solutions__inter-map {
  width: clamp(33rem, -4.768rem + 50.36vw, 50.625rem);
}
.business-solutions__map {
  position: absolute;
  top: 0;
  right: 0;
  span {
    text-align: left;
  }
    .btn {
      position: absolute;
      overflow: hidden;
      transition: width 0.5s ease, border-radius 0s, gap 0.4s ease, padding 0.4s ease;
          .business-solutions__btn-icon {
            width: 16px;
            height: 16px;
            transition: transform 0.3s linear;
          }
          .business-solutions__btn-text {
            white-space: nowrap;
            opacity: 0;
            width: 0;
            font-size: 14px;
            font-weight: 500;
            padding-right: 0;
            transition: all 0.4s ease;
            color: $white;
            text-transform: none;
          }
          &:hover {
              width: auto;
              border-radius: 20px;
              gap: 8px;
              padding: 0 8px;
              background-color: $orange;
              color: $white;
              .business-solutions__btn-icon {
                  transform: rotate(45deg);
                  margin: 0;
              }
              
              .business-solutions__btn-text {
                  opacity: 1;
                  width: auto;
                  padding-right: 8px;
              }
          }
    }

    // отбойная доска
    .board {
      top: clamp(12.5rem, -3.543rem + 21.39vw, 20rem);
      left: clamp(1.25rem, -1.424rem + 3.57vw, 2.5rem);
    }
    // плита без покрытия
    .slab {
      top: clamp(8.75rem, -7.293rem + 21.39vw, 16.25rem);
      left: clamp(5rem, -1.684rem + 8.91vw, 8.125rem);
      
    }
    // декоративный профиль для панелей
    .decorative {
      top: clamp(6.875rem, -5.157rem + 16.04vw, 12.5rem);
      left: clamp(11.875rem, -4.168rem + 21.39vw, 19.375rem);
      
    }
    // потолочные панели
    .ceiling-panels {
      top: clamp(2.5rem, -1.511rem + 5.35vw, 4.375rem);
      left: clamp(20.625rem, -2.102rem + 30.3vw, 31.25rem);
      
    }
    // офисные перегородки
    .partitions {
      top: clamp(11.25rem, -11.477rem + 30.3vw, 21.875rem);
      left: clamp(18.75rem, -5.314rem + 32.09vw, 30rem);
    }
    // фасадные и цокольные панели
    .facade {
      top: clamp(15.625rem, 11.614rem + 5.35vw, 17.5rem);
      left: clamp(21.875rem, -22.243rem + 58.82vw, 42.5rem);
    }
    
}

 // Стили для активной кнопки
.btn.active {
    background-color: $red !important;
    
    .business-solutions__btn-icon {
        transform: rotate(45deg) !important;
        filter: brightness(0) invert(1);
    }
    
    .business-solutions__btn-text {
        opacity: 1 !important;
        width: auto !important;
        padding-right: 8px !important;
    }
}

// Анимация появления карточки
.business-solutions__catalog-card {
    animation: fadeInUp 1s ease;
    border: 1px solid $light-grey;
    border-radius: 10px;
    width: clamp(11.875rem, -7.422rem + 40.63vw, 20rem);
    max-height: 388px;
    padding: 32px 38px 75px;
    
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

// Чтобы кнопки оставались расширенными когда активны
.btn.active {
    width: auto !important;
    border-radius: 20px !important;
    gap: 8px !important;
    padding: 0 8px !important;
}

// О компании
.about-company {
  background-color: $blue;
  margin-top: 80px;
  padding: 70px 0;
  width: 100%;
}
.about-company__info {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: clamp(1.375rem, -5.241rem + 13.93vw, 6.25rem);
}
.about-company__text h1 {
  margin-bottom: 26px;
}
.about-company__tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}
.about-company__frame {
  padding: 20px;
  border: 1px solid $light-grey;
  width: clamp(9.813rem, 6.25rem + 7.5vw, 12.438rem);
  height: 210px;
  img {
    margin-bottom: 30px;
  }
}

// Скачать презентацию
.presentation {
  display: flex;
}
.presentation__title {
  background-color: $black;
  padding-left: clamp(1.25rem, -12.631rem + 29.22vw, 22.438rem);
  padding-block: 30px;
  width: 50%;
  h1 {
    color: $white;
  }
}
.presentstion__ppt {
  display: flex;
  align-items: center;
  gap: 59px;
  background-color: $red;
  padding: 30px clamp(1.25rem, -12.631rem + 29.22vw, 22.438rem) 30px clamp(1.875rem, -2.451rem + 9.11vw, 5.063rem);
  width: 50%;
  p {
    color: $white;
  }
}
.download-content {
  display: flex;
  gap: 20px;
  img {
    width: 40px;
    height: 45px;
  }
}

// Кейсы
.cases {
  padding-block: 60px;
}
.cases__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cases__slider {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: top;
  margin-top: 30px;
  gap: 20px;
}
.cases__slider-controls {
  display: flex;
  gap: 20px;
}
.cases__slider-switch {
  display: flex;
  gap: 20px;
  margin-bottom: 42px;
}
.cases__links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  a {
    font-size: 18px;
    font-weight: 500;
  }
}
.cases__links a.active {
    color: $red;
    font-weight: 600;
}

.cases__links a:hover {
    color: $red;
    text-decoration: none;
}
.cases__slider-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px;
  height: calc(2 * clamp(10.5rem, 0.661rem + 20.71vw, 17.75rem) + 21px); // Фиксируем высоту
  
  img {
    width: clamp(10.5rem, 0.661rem + 20.71vw, 17.75rem);
    height: clamp(10.5rem, 0.661rem + 20.71vw, 17.75rem); // Делаем квадратными
    object-fit: cover; // Чтобы изображение заполняло квадрат
  }
}

/* Анимации для cases slider */
.cases__slider-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 21px;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.cases__slider-container.fade-out {
    opacity: 0;
    transform: translateY(20px);
}

.cases__slider-container.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.cases__links a.active {
    color: $red;
    font-weight: 600;
}

.cases__links a:hover {
    color: $red;
    text-decoration: none;
}

// Новости
.news__container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas:
    "main-new new-1 new-2"
    "main-new new-3 new-4";
    gap: 20px;
}
.news__item {
  border: 1px solid $light-grey;
  img {
    width: 100%;
    margin-bottom: 14px;
  }
  h2 {
    margin-bottom: 8px;
  }
  .data {
    margin-top: 10px;
  }
}
.news__item:hover {
    text-decoration: none;
    scale: 1.05;
}
.news__text {
  padding: 0 16px 16px;
  img {
    margin-bottom: 20px;
  }
}
.main-new {
  grid-area: main-new;
  img {
    margin-bottom: 20px;
  }
  .news__text {
    padding: 0 26px 26px;
  }
}
.new-1 {
  grid-area: new-1;
}
.new-2 {
  grid-area: new-2;
}
.new-3 {
  grid-area: new-3;
}
.new-4 {
  grid-area: new-4;
}

// Нам доверяют
.partners {
  margin-block: 100px;
}
.partners__slider {
  margin-top: 50px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 3px;
}
.partners__slider-item {
  border: 1px solid $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 150px;
  scroll-snap-align: start;
  flex-shrink: 0;
}

// Обратная связь
.feedback {
  padding-block: 78px;
  background-color: $black;
  h1 {
    color: $red;
    margin-bottom: 50px;
  }
  p {
    color: $white;
    font-size: 18px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
  }
}
.feedback__text {
  width: 100%;
}
form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  justify-items: center;
}
.feedback__form-input {
  background-color: $black;
  border: none;
  border-bottom: 1px solid $white;
  padding: 15px;
  width: clamp(8.938rem, -0.138rem + 19.11vw, 15.625rem);
}
input::placeholder {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.feedback__form-btn {
  margin-top: 55px;
  width: 192px;
  border-radius: 20px;
  grid-column-start: 2;
}

// Футер
.footer {
  .container {
    padding-block: 74px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-items: start;
  }
}
.footer__info {
  img {
    margin-bottom: 30px;
  }
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2 {
    margin-bottom: 30px;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
}
.footer__contacts {
  margin-block: 40px;
}
.footer__link {
  display: flex;
  gap: 20px;
}
.footer__media {
  margin-top: 16px;
  display: flex;
  gap: 10px;
}
