@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.container {
  padding-inline: clamp(4.375rem, -34.327rem + 44.23vw, 18.75rem);
}

h1 {
  color: rgb(79, 143, 240);
  font-size: clamp(30px, 0.836rem + 4.26vw, 56px);
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  color: rgb(34, 34, 34);
  font-size: clamp(22px, 1.083rem + 1.2vw, 28px);
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: rgb(255, 255, 255);
  font-size: clamp(18px, 0.645rem + 1.97vw, 30px);
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}

h4 {
  color: rgb(34, 34, 34);
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

h5 {
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding-inline: 16px;
}

p {
  color: rgb(34, 34, 34);
  font-size: clamp(14px, 0.777rem + 0.4vw, 16px);
  font-weight: 600;
  text-align: left;
}

a {
  color: rgb(79, 143, 240);
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

span {
  color: rgb(79, 143, 240);
}

.date {
  color: rgb(34, 34, 34);
  font-size: 12px;
  font-weight: 300;
  text-align: left;
}

button {
  padding: 16px 24px;
  background: rgb(79, 143, 240);
  border: 2px solid rgb(79, 143, 240);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 48px;
}

.gray-btn {
  background: rgb(230, 230, 230);
  border: 2px solid rgb(230, 230, 230);
  color: rgb(34, 34, 34);
  margin-left: 24px;
}

.line {
  width: 50px;
  height: 3px;
  background: rgb(79, 143, 240);
  margin-inline: auto;
  margin-top: 10px;
  margin-bottom: 24px;
}

header {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.shadow-layer {
  background-color: rgba(34, 34, 34, 0.64);
}

.top-menu {
  width: 100%;
  background: rgb(1, 1, 1);
  padding-block: 18px;
}
.top-menu .container {
  display: flex;
  justify-content: space-between;
}
.top-menu div {
  display: flex;
}
.top-menu p {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.top-menu button {
  background: none;
  border: none;
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-right: 20px;
  padding: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-transform: lowercase;
  margin-top: 0;
}

.main-menu {
  background: rgba(1, 1, 1, 0.76);
  padding-block: 22px;
}
.main-menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-menu p {
  color: rgb(255, 255, 255);
  font-size: clamp(16px, 0.84rem + 0.66vw, 20px);
  font-weight: 900;
  text-align: left;
  line-height: 1;
}
.main-menu a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.main-menu h2 {
  color: rgb(79, 143, 240);
  text-align: left;
}

nav {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.main-content {
  height: calc(100vh - 158px);
  text-align: center;
  display: grid;
  align-items: center;
}
.main-content h3, .main-content h1, .main-content p, .main-content button {
  text-align: center;
}
.main-content p {
  color: rgb(255, 255, 255);
  font-size: clamp(16px, 0.84rem + 0.66vw, 20px);
  font-weight: 400;
}

.services {
  padding-block: 80px;
  background: rgb(247, 247, 247);
  text-align: center;
}

p {
  text-align: center;
}

.list-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 38px;
  margin-top: 48px;
}

.block-services {
  padding: 50px 32px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  position: relative;
}
.block-services p {
  font-size: 14px;
}

.svg {
  width: 100%;
  height: 35px;
  margin: 0 50px 17px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='35.000000' height='35.000000' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip156_607'%3E%3Crect id='35px/agreement' width='35.000000' height='35.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect id='35px/agreement' width='35.000000' height='35.000000' fill='%23FFFFFF' fill-opacity='0'/%3E%3Cg clip-path='url(%23clip156_607)'%3E%3Cpath id='Vector' d='M29.1665 5.8335L29.1665 23.3335L11.6665 23.3335L11.6665 5.8335L29.1665 5.8335ZM29.1665 2.91675L11.6665 2.91675C10.0625 2.91675 8.75 4.22925 8.75 5.8335L8.75 23.3335C8.75 24.9375 10.0625 26.25 11.6665 26.25L29.1665 26.25C30.7705 26.25 32.083 24.9375 32.083 23.3335L32.083 5.8335C32.083 4.22925 30.7705 2.91675 29.1665 2.91675ZM18.1851 20.4167L13.125 15.3125L15.1665 13.2563L18.1851 16.2896L25.6665 8.75L27.708 10.8064L18.1851 20.4167ZM5.83301 8.75L2.9165 8.75L2.9165 29.1667C2.9165 30.771 4.229 32.0835 5.83301 32.0835L26.25 32.0835L26.25 29.1667L5.83301 29.1667L5.83301 8.75Z' fill='%234F8FF0' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
}

.Hover-border {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.law-firm {
  padding-block: 80px;
}
.law-firm button {
  margin-top: 16px;
}
.law-firm .line {
  margin-inline: 0;
}

.law-firm-flex {
  display: flex;
  -moz-column-gap: 64px;
       column-gap: 64px;
}

.law-content h2, .law-content p {
  text-align: left;
}

.advocates {
  padding-block: 80px;
}

.advocates-slider {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
  padding-bottom: 10px;
  overflow-x: auto;
  scroll-snap-type: x;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.advocate-card {
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
  padding-bottom: 24px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  scroll-snap-align: start;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.advocate-card img {
  margin-bottom: 24px;
}
.advocate-card p {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: lowercase;
}

.front {
  opacity: 0;
  width: 312px;
  height: 391px;
  background: rgb(255, 255, 255);
  position: absolute;
  padding: 83px 20px;
  text-align: center;
}
.front p {
  margin-bottom: 30px;
  text-transform: none;
}

.Hover-border-blue {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.feedback {
  background-image: url(../img/bg-mountains.png);
  background-size: cover;
  background-position: center bottom;
  padding-block: 80px;
  text-align: center;
}
.feedback h2 {
  text-align: left;
}
.feedback .line {
  margin-inline: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrows {
  display: flex;
  align-items: center;
}
.arrows button {
  margin-top: 0;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.arrows .left {
  background-image: url("data:image/svg+xml,%3Csvg width='20.000000' height='20.000000' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip156_492'%3E%3Crect id='20px/arrowleft' width='20.000000' height='20.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect id='20px/arrowleft' width='20.000000' height='20.000000' fill='%23FFFFFF' fill-opacity='0'/%3E%3Cg clip-path='url(%23clip156_492)'%3E%3Cpath id='Vector' d='M13.3333 18.3334L5 10.0001L13.3333 1.66675L14.8125 3.14594L7.95825 10.0001L14.8125 16.8542L13.3333 18.3334Z' fill='%234F8FF0' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
}
.arrows .right {
  background-image: url("data:image/svg+xml,%3Csvg width='20.000000' height='20.000000' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip156_494'%3E%3Crect id='20px/arrowright' width='20.000000' height='20.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect id='20px/arrowright' width='20.000000' height='20.000000' fill='%23FFFFFF' fill-opacity='0'/%3E%3Cg clip-path='url(%23clip156_494)'%3E%3Cpath id='Vector' d='M6.68774 18.3334L5.2085 16.8542L12.0627 10.0001L5.2085 3.14594L6.68774 1.66675L15.021 10.0001L6.68774 18.3334Z' fill='%234F8FF0' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
}

.wrapper {
  width: 100%;
  position: relative;
}

.feedback-slider {
  display: grid;
  -moz-column-gap: 4%;
       column-gap: 4%;
  grid-auto-columns: 48%;
  grid-auto-flow: column;
  padding-bottom: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.feedback-card {
  padding: 32px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-self: flex-start;
}
.feedback-card p {
  text-align: left;
  margin-top: 16px;
}
.feedback-card .feather {
  margin-left: auto;
}

.name {
  margin-left: 24px;
}
.name h5 {
  font-size: 20px;
  padding: 0;
}
.name p {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
}

.useful {
  padding-block: 80px;
  text-align: center;
}

.useful-slider {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding-bottom: 10px;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.useful-card {
  position: relative;
  scroll-snap-align: start;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.useful-card img {
  margin-bottom: 16px;
}
.useful-card h5 {
  margin-bottom: 16px;
  padding: 0;
}
.useful-card h5, .useful-card p {
  text-align: left;
}
.useful-card p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 16px;
}

.focus {
  position: absolute;
  top: 0;
  width: 100%;
  height: 270px;
  opacity: 0;
  background: rgba(79, 143, 240, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.view {
  opacity: 0;
}

.Hover-border-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

footer {
  background-color: rgb(34, 34, 34);
  padding-block: 80px;
}
footer .main-menu {
  background: none;
  padding-block: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: clamp(2.5rem, -24.125rem + 47.33vw, 11.375rem);
       column-gap: clamp(2.5rem, -24.125rem + 47.33vw, 11.375rem);
  border-bottom: 1px solid rgb(140, 140, 140);
  padding-bottom: 50px;
}
footer .main-menu p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.footer-content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 180px 1fr;
  gap: 141px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}
.contacts h5 {
  color: rgb(140, 140, 140);
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
}
.contacts p {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-align: left;
}

.links a {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

.alex .feedback-card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  background: none;
  padding: 0;
}
.alex .feedback-card img {
  margin-bottom: 16px;
}
.alex .feedback-card h5 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
}
.alex .feedback-card p {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 300;
  margin-top: 0;
}
.alex button {
  margin-top: 24px;
  font-size: 14px;
}

.end {
  padding-block: 16px;
  background: rgb(24, 24, 24);
}
.end .container {
  display: flex;
  justify-content: space-between;
}
.end .container p {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
}