@media (max-width: 1442px) {
    // Главный экран
    .main {
        align-items: stretch;
        grid-template-areas:
        'h1 h1'
        'text img2'
        'link img2'
        'img1 img2'
        ;
        a {
            text-align: left;
        }
    }
}

@media (max-width: 1080px) {
    section, footer {
        margin-top: 48px;
    }
    // Меню
    .header {
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
    }
	.header__hamburger {
		display: block;
	}
    .header__menu {
		position: fixed;
		top: 0;
		right: -100%;
		width: 30vw;
		height: 300px;
		transition: right 0.5s;
		z-index: 1000;
		gap: 15px;
        align-items: flex-end;
		padding: 60px 35px 20px 0;
        background-color: #E8EBEB;
	}
    .header__menu-link--active {
        display: block;
    }
    .header__menu-link--disactive {
        display: none;
    }

	.header.animate {
        .header__menu {
		    right: 0;
        }
        .header__hamburger {
            span:nth-child(2) {
                opacity: 0;
            }
            span:nth-child(1) {
                transform: translateY(0) rotate(45deg);
            }
            span:nth-child(3) {
                transform: translateY(0) rotate(-45deg);
            }
        }
	}

    // Главный экран
    .main {
        grid-template-columns: auto;
        justify-content: stretch;
        grid-template-areas:
        'h1'
        'text'
        'link'
        'img3'
        ;
    }
    .main__img1, .main__img2 {
    display: none;
    }
    .main__img3 {
        display: block;
        width: 100%;
    }

    // О нас
    // О компании
    .experience {
        grid-template-columns: 1fr ;
    }
    .eexperience__header--desctop {
        display: none;
    }
    .experience__header--mobile {
        display: block;
        margin-bottom: 20px;
    }

    // Как мы работаем
    .work-process {
        grid-template-columns: 1fr;
        h2 {
            margin-bottom: 20px;
        }
    }
    .work-process__table {
        margin-top: 28px;
        grid-template-columns: 1fr ;
    }
    .work-process__table-header {
        border-bottom: none;
        padding: 16px 0;
    }
    .work-process__table-item {
        padding: 0 0 16px;
    }

    // Проекты
    .projects__slider {
        margin-top: 20px;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 20px;
    }
    .projects__slider-item {
        flex-shrink: 0; 
    }

    // Отзывы
    .feedback__comments {
        margin-top: 20px;
        grid-template-columns: 1fr;
    }

    .feedback__comments-item {
        min-height: 500px;
        padding: 32px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
            h4 {
            width: 100%;
            }
    }

    // Форма обратной связи
    .form {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        align-items: center;
        gap: 20px;
        grid-template-areas:   
            "header"
            "content"
            "form"
            "links";
        .form__img {
            display: none;
        }
        p {
            margin-top: 20px;
        }
        .form__application {
            margin-top: 32px;
        }
        .form__links {
            margin-top: 28px;
        }
    }
    .form__application-input {
        width: 100%;
    }

    // Подвал
    .footer {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        p, a {
            text-align: center;
        }
    }  
    
}


