
@media (min-width: 1200px){
	.logo2 {
		display: none;
	}
}
@media (max-width: 1199px){
	body {
		text-align: center;
	}
h1, h2 {
	text-align: center;
	font-size: 40px;
	}
p, span, li {
	text-align: center;
	font-size: 30px;
	line-height: 40px;
 	}
 a{font-size: 26px;
 	font-weight: 700;
 }
 ul {list-style-type: none;
 	line-height: 15px;
 	padding-left: 0;
 }
.fadeIn {
	display: none;
}
.fadeOn {
	margin-top: 30px;
	display: inline-block;
}
button, .button {
	a{font-size: 30px;
 	}
	border-radius: 7px;
	padding: 10px 60px;
	line-height: 1px;
 }
// .row, 
// .col-1, .col-2, .col-3, .col-4, .col-auto, .col-5, .col-6, 
// .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, {
// 	border: 2px solid red;
// }

// Первый экран
.menu{
	height: 60px;
	width: 100%;
	text-align: right;
	.logo {
		display: none;
	}
	.logo2{
		padding: 5px 0;
		width: 50px;
	}
}

.bg {
	background-size: auto 100%;
	background-position: 5% 50%;
	.aboutus {
	height: 1080px;
	h1{
	margin-bottom: 30px;
	text-align: center;
	}
	}
}
.bg2 {
	background-size: auto 100%;
	background-position: 5% 50%;
	.aboutus {
	height: 1080px;
	h1{
	margin: 0;
	}
	}
}

// Металл
.block {
	text-align: center;
	margin: 30px 0;
 	.advantages {
 		h2 {
		text-align: center;
	}
 		ul {
 			margin-top: 30px;
 			margin-bottom: 0;
 		}
 		li, {
	 	line-height: 45px;
	 	font-size: 30px;
	 	text-align: center;
	 }
	p {text-align: center;
		font-size: 30px;
		margin: 0px;
	}
	}
	img{
		width: 60%;
	}
	.mytable {
		margin-bottom: 30px;
		p {
		text-align: right;
		font-size: 34px;
		}
	}
	.block-works {
	margin-top: 30px;
	}
	.block-works2 {
	margin-top: 30px;
	}
	.img1, .img2, .img3 {
		&:hover{
		transform: scale(1.05);
		transition: 0.4s;
	}
	}
	.img1{
		width: 100%;

	}
	.img2{
		width: 100%;
		height: auto;
		margin: 10px 0;
	}
	.top, .map{
		margin-top: 30px;
	}
}

.button {
	font-size: 30px;
	padding: 5px 30px;
	margin: 5px;
}

// Остались вопросы?
.form {
	margin: 30px 0 60px 0;
	width: 100%;
	padding: 40px 30px;
	textarea {
	height: 150px;
	}
	input, textarea {
	margin-bottom: 30px;
	display: block;
	width:100%;
	padding: 5px;
	border-radius: 5px;
	}
	button{
	font-size: 30px;
	}
}

// Всплывающая галлерея
.popup, .popup2 {
	.popup-close {	top: 1px;
	right: 1px;
	}
}
.gallery-slider, .gallery-slider2 {
	img {
	height: auto;
	width: 70%;
	}
}
.prev, .next{
	box-shadow: none;
	position: absolute;
	z-index: 500;
	width: 2rem;
	height: 4rem;
	top: 50%;
	transform: translateY(-50%);
	}
.prev {
background: url("../img/prev.svg") center no-repeat;
background-size: 30px;
left: 5%;
}
.next{
background: url("../img/next.svg") center no-repeat;
background-size: 30px;
right: 5%;
transform: translateY(-50%);
}



}
