// Переменные
$green: #C5DE65;
$fontColor: #32272D ; //коричневый
$Montserrat:'Montserrat', sans-serif;

// Миксины
@mixin HeaderFontSettings{
	font-family: $Montserrat;
	font-size: 40px;
	text-transform: uppercase;
	color: $fontColor;
	font-weight: 700;
	text-align: center;
}
@mixin FontSettings ($weight) {
	font-family: $Montserrat;
	font-size: 30px;
	color: #32272D;
	font-weight: 600;
	text-align: center;
	font-weight: $weight;
}

// Общие настройки

h1 {
	@include HeaderFontSettings;
	}
a, button {
 	@include FontSettings (700);
 	text-decoration: none;
 	}
p, span {
 	@include FontSettings (600);
 	text-decoration: none;
 	}
button {
	background-color: $green;
	border: none;
	border-radius: 7px;
	color: $fontColor;
	padding: 5px 100px;
	position: absolute;
	z-index: 900;
	box-shadow: 3px 3px 7px 0px $fontColor;
 }
 img {
 	width: 100%;
 	box-shadow: 3px 3px 7px 0px $fontColor;
 }

//Главная
.menu{
	background-color: $green;
	height: 80px;
	width: 100%;
	text-align: right;
	.img{
		width: 300px;
		box-shadow: none;
	}
}
.shad {
	height: 650px;
	width: 100%;
	background-color: #32272D;
	opacity: .5;
	position: absolute;
	z-index: 2;
}

.bg {
	position: absolute;
	z-index: 1;
	height: 650px;
	width: 100%;
	background: url("../img/portrait-of-a-young-worker-in-a-hard-hat-at-a-large-metalworking-plant.jpg") bottom center no-repeat;
	background-size: cover;
}
.aboutus {
	border: 2px solid red;
	margin: 40px 0px;
	height: 600px;
	width: 100%;
	h1{
	position: absolute;
	z-index: 3;
	color: #EEEEEE;
	text-shadow: 0 0 5px #32272D;
	}
	button {
		margin-top: 400px;
	}
}
.metall {
	margin-bottom: 40px;
}
.metall-works {
	margin-top: 40px;
	.works {
		margin-top: -60px;
		padding-left: 75px;
	}
	p {
		text-align: left;
		line-height: 27px;
	}
}