// Переменные
$green: #C5DE65;
$fontColor: #32272D ; //коричневый
$white: #EEE;
$Montserrat:'Montserrat', sans-serif;

// Миксины
@mixin HeaderFontSettings{
	font-family: $Montserrat;
	font-size: 40px;
	text-transform: uppercase;
	color: $fontColor;
	font-weight: 700;
	text-align: center;
}
@mixin FontSettings{
	font-family: $Montserrat;
	font-size: 30px;
	color: $fontColor;
	text-align: left;
	font-weight: 500;
	line-height: 40px;
}

// Общие настройки
.kontainer {
	margin-left: 5%;
	margin-right: 5%;
}
a:hover, a:active, button:hover, .button:hover, .img1:hover, .img2:hover, .img3:hover {
		cursor: pointer;
	}
h1 {
	@include HeaderFontSettings;
	}
h2{ text-transform: none;
	font-family: $Montserrat;
	font-size: 35px;
	color: $fontColor;
	font-weight: 700;
	text-align: center;
}
a, p, span {
	@include FontSettings;
 	text-decoration: none;
 	}
 a{
 	font-weight: 700;
 }
 ul {list-style-type: "— ";
 	text-align: left;
 }
 li {
 	font-family: $Montserrat;
	font-size: 30px;
	color: $fontColor;
	text-align: left;
	font-weight: 500;
	line-height: 40px;
 }
button, .button {
	@include FontSettings;
	font-weight: 700;
	background-color: $green;
	border: none;
	border-radius: 7px;
	color: $fontColor;
	padding: 5px 50px;
	box-shadow: 3px 3px 7px 0px $fontColor;
 }
 img {
 	box-shadow: 3px 3px 7px 0px $fontColor;
 }

// Первый экран
.menu{
	background-color: $green;
	height: 80px;
	width: 100%;
	text-align: right;
	img{
		width: 100%;
		box-shadow: none;
	}
}

.bg, .bg2 {
	width: 100%;
	height: 850px;
	background-size: cover;
}
.bg {
	background: url("../img/bg10.jpg") top center no-repeat;
	.aboutus {
	height: 850px;
	h1{
	text-align: left;
	}
	p, li, h1{
	color: $white;
	text-shadow: 0 0 5px #32272D;
	}
	}
}
// .col-lg-3, .col-lg-2, .col-lg-5 {
// 	border: 2px solid red;
// }

// Металл
.block {
	margin: 60px 0;
 	.advantages {
 		li, {
 	font-size: 25px;
	line-height: 35px;
 	font-weight: 700;
 	text-transform: uppercase;
	 }
	}
	img{
		width: 70%;
	}
	.mytable {
		p{text-align: center;}
	}
	.block-works {

	margin-top: 60px;
	}
	.block-works2 {
	margin-top: 30px;
	}
	.img1, .img2, .img3 {
		&:hover{
		transform: scale(1.05);
		transition: 0.4s;
	}
	}
	.img1{
		width: 100%;
	}
	.img2{
		width: 84%;
		margin-bottom: 10px;
	}
	.top{
		margin-top: 3%;
	}
}
// Всплывающая галлерея
.popup, .popup2 {
	text-align: center;
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 102;
	background-color: rgba(0, 0, 0, 0.9);
	.popup-close {
	&:hover {
		cursor: pointer;
	}
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 200;
	width: 4rem;
	color: $green;
	font-size: 26px;
	}
}
.gallery-slider, .gallery-slider2 {
	height: auto;
	position: relative;
	transform: translateY(15%) translateX(0%);
	img {
		display: block;
		margin: 0 auto;
		height: 700px;
		width: auto;
		box-shadow: none;
	}
}

.prev, .next{
	box-shadow: none;
	position: absolute;
	z-index: 500;
	width: 2rem;
	height: 4rem;
	top: 50%;
	transform: translateY(-50%);
	}
.prev {
background: url("../img/prev.svg") center no-repeat;
background-size: 20%;
left: -5%;
}
.next{
background: url("../img/next.svg") center no-repeat;
background-size: 20%;
right: -5%;
transform: translateY(-50%);
}

// Остались вопросы?
.bg2 {
background: url("../img/bg20.jpg") bottom center no-repeat;
	h1{
	margin: 60px 0 60px 0;
	}
	p, h1 {
	color: $white;
	text-shadow: 0 0 5px #32272D;
	}
}
.form {
	width: 100%px;
	height: 100%px;
	padding: 60px 50px;
	background-color: $green;
	text-align: left;
	box-shadow: 3px 3px 7px 0px $fontColor;
	border-radius: 10px;
	textarea {
	height: 250px;
	}
	input, textarea {
	margin-bottom: 20px;
	display: block;
	border: 2px solid $fontColor;
	width:100%;
	padding: 10px;
	border-radius: 5px;
	}
	button{
	width: 100%;
	font-weight: 600;
	text-align: center;
	background-color: $fontColor;
	color: $white;
	padding: 10px;
	line-height: 30px;
	}
}
