@media (max-width: 1199px){
body {
	text-align: center;
}
p, span, li {
	text-align: center;
 	}
 a{font-size: 26px;
 	font-weight: 700;
 }
 ul {list-style-type: none;
 	line-height: 15px;
 	padding-left: 0;
 }
.fadeIn {
	display: none;
}
.fadeOn {
	height: 60px;
	margin-top: 60px;
	display: inline-block;
}
button, .button {
	a{font-size: 30px;
 	}
	border-radius: 7px;
	padding: 10px 60px;
	line-height: 1px;
 }
 .mobilemargin {
 	margin-top: 60px;
 }

// Меню
.menu{
	height: 60px;
}
// Блоки с фоновыми картинками
.bg, .bg2 {
	background-size: auto 100%;
	.rowheight {
		height: 1500px;
	}
}
.bg {
	background-position: 50% 50%;
	.rowheight {
	h1{
	margin-bottom: 60px;
	text-align: center;
	}
	}
}
.bg2 {
	background-position: 5% 50%;
	.rowheight {
	h1{
	margin-top: 60px;
	}
	}
}

// Блоки металл и мебель
.block {
	text-align: center;
 	.advantages {
 		h2 {
		text-align: center;
	}
 		ul {
 			margin-bottom: 0;
 		}
	p {
		margin: 0px;
	}
	}
	img{
		width: 60%;
	}
	.mytable {
		margin-bottom: 30px;
		p {
		text-align: right;
		font-size: 34px;
		}
	}
	.margin60, .margin30  {
	margin-top: 60px;
	}
	.img1, .img2, .img3 {
		&:hover{
		transform: none;
	}
	}
	.img2{
		width: 100%;
		height: auto;
		margin: 10px 0;
	}
	.top, .map{
		margin-top: 60px;
	}
}
.lowtop {
	margin-top: -60px;
	height: 60px;
}

.button {
	padding: 5px 30px;
	margin: 5px;
}
// Всплывающая галлерея
.popup, .popup2 {
	.popup-close {	
	top: 50px;
	right: 50px;
	font-size: 30px;
	}
}
.gallery-slider, .gallery-slider2 {
	img {
	padding-top: 50px;
	height: auto;
	width: 60%;
	}
}
.prev {
left: 2%;
}
.next{
right: 2%;
}
}

// Остались вопросы?
.form {
	margin: 0 0 80px 0;
	width: 100%;
	padding: 70px 40px;
	textarea {
	height: 200px;
	}
	input,{
	height: 70px;
	}
	button{
	font-size: 30px;
	padding: 20px 0;
	}
}

