// Переменные
$honey: #D3A760;
$fontColor: #3B2314 ; //коричневый
$white: #FFF;
$Manrope:'Manrope', sans-serif;

// .container, h1 {
// 	border: 2px solid red;
// }

// Миксины
@mixin HeaderFontSettings{
	font-family: $Manrope;
	font-size: 50px;
	text-transform: uppercase;
	color: $fontColor;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
}
@mixin FontSettings{
	font-family: $Manrope;
	font-size: 35px;
	color: $fontColor;
	text-align: center;
	font-weight: 500;
	line-height: 40px;
	text-decoration: none;
}

// Общие настройки
a:hover, button:hover, .button:hover {
	cursor: pointer;
	}
h1 {
	@include HeaderFontSettings;
	}
h2{ @include HeaderFontSettings;
	line-height: 0.5;
	font-size: 35px;
	font-weight: 500;
}
a, p, {
	@include FontSettings;
 	}
 a {
	text-decoration: none;
	color: $fontColor;
 }
 button {
 	@include FontSettings;
 	padding: 10px 30px;
 	background-color: $honey;
 	border: none;
 	font-weight: 700;
 }

// Меню
.menu {
	position: relative;
	z-index: 1000;
	padding-top: 10px;
	text-align: right;
	height: 110px;
	width: 100%;
	box-shadow: 3px 3px 7px 0px $fontColor;
	img {
	width: 150px;
	}
}
// Главный экран
.header {
	background: url("../img/bg.jpg") bottom no-repeat;
	background-size: 100% auto;
	height: 820px;
	width: 100%;
	.shadow {
	background-size: 100% auto;
	height: 820px;
	background-color: rgba(255, 255, 255, 0.2);
	}
	.row {
	height: 100%;
	}
	.block {
	height: 100%;
	background-color: rgba(59, 35, 20, 0.8);
	padding: 0 50px;
	.text {
	position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	}
	}
	p {
	text-align: left;
	color: $white;
	font-weight: 300;
	}
}
// Продукция
.section {
	text-align: center;
	h1{
		display: inline-block;
		background-color: $white;
		padding: 0 10px;
		margin: 60px;
	}
	.gallery-slider {
		padding: 0 15px;
		.block {
			box-shadow: 3px 3px 7px 0px $fontColor;
			margin: 70px 50px;
			text-align: center;
			display: block;
			height: 500px;
			width: 350px;
			padding: 50px 0;
			img {
				height: 150px;
				display: block;
				margin: 0 auto;	
			}
			h2{
				font-weight: 600;
				line-height: 1;
			}
		}
		.slick-center {
    	transform: scale(1.1);
    	transition: transform 0.5s;
		}
		.prev, .next{
		box-shadow: none;
		position: absolute;
		z-index: 500;
		width: 2rem;
		height: 4rem;
		top: 50%;
		transform: translateY(-50%);
		background-size: 20%;
		}
		.prev {
		background: url("../img/prev.svg") center no-repeat;
		background-size: 20%;
		left: -5%;
		}
		.next{
		background: url("../img/next.svg") center no-repeat;
		background-size: 20%;
		right: -5%;
		transform: translateY(-50%);
		}
	}
}
// Галлерея
.line{
	border-top: 2px solid $fontColor;
	margin: -90px 0 90px;
}
.gallary {
	margin: 20px 0;
	.img1, .img2, .img3, .img4, .img5, .img6 {
	padding: 0 13px;	
	}
	.img1 {
	background: url("../img/aram1.jpg") bottom no-repeat;
	background-size: auto 100%;
	}
	.img2 {
	background: url("../img/aram5.jpg") bottom no-repeat;
	background-size: auto 100%;
	}
	.img3 {
	background: url("../img/aram3.jpg") bottom no-repeat;
	background-size: auto 100%;
	}
	.img4 {
	background: url("../img/aram4.jpg") bottom no-repeat;
	background-size: auto 100%;
	}
	.img5 {
	background: url("../img/aram2.jpg") bottom no-repeat;
	background-size: auto 100%;
	}
	.img6 {
	background: url("../img/aram6.jpg") bottom no-repeat;
	background-size: auto 100%;
	}
	.blackout {
	background-color: rgba(59, 35, 20, 0.0);
	width: auto;
	height: 540px;
	padding: 250px 50px;
		p {
		text-align: left;
		color: $white;
		font-size: 20px;
		opacity: 0;
		}
	&:hover {
		background-color: rgba(59, 35, 20, 0.6);
		transition: 0.3s;
		p {
		opacity: 1;
		transition: 0.3s;
		}
	}
	}
	img{
		&:hover {
		cursor: pointer;
    	transition: transform 0.5s;
	}
		width: 100%;
	}
}


// Подвал
.footer{
	margin-top: 60px;
	padding-top: 15px;
	height: 200px;
	background-color: $honey;
	text-align: center;
	p {
		text-align: left;
		font-size: 20px;
		line-height: 1.5;
	}
}

// Всплывающее окно (форма)
.popup {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1001;
	background-color: rgba(0, 0, 0, 0.9);
	.popup-close {
		&:hover {
			cursor: pointer;
		}
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 200;
	width: 4rem;
	color: $honey;
	font-size: 26px;
	}
}
.form {
	width: 550px;
	height: 650px;
	padding: 80px 50px;
	background-color: $honey;
	text-align: left;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	textarea {
	height: 250px;
	}
	input, textarea {
	margin-bottom: 20px;
	display: block;
	border: 2px solid $fontColor;
	width:100%;
	padding: 10px;
	border-radius: 5px;
	}
	button{
	width: 100%;
	font-weight: 600;
	text-align: center;
	background-color: $fontColor;
	color: $white;
	padding: 20px;
	line-height: 30px;
	}
}


// Адаптация
@media (max-width: 992px) {
	@mixin HeaderFontSettings{
	font-size: 40px;
	}
	@mixin FontSettings{
		font-size: 25px;
		line-height: 30px;
	}
	h1 {
	@include HeaderFontSettings;
	}
	h2{ @include HeaderFontSettings;
	line-height: 0.5;
	font-size: 25px;
	}
	a, p, {
	@include FontSettings;
 	}
 	button {
 	@include FontSettings;
 	padding: 10px 30px;
 	}
// Меню
.menu {
	height: 80px;
	width: 100%;
	box-shadow: 3px 3px 7px 0px $fontColor;
	padding: 15px 0;
	img {
	width: 90px;
	}
}
// Главный экран
.header {
	background: url("../img/bg.jpg") left top no-repeat;
	background-size: 100% auto;
	height: 600px;
	.shadow {
	height: 100%;
	}
	.block {
	height: 400px;
	.text {
    text-align: center;
	}
	}
	p {
	text-align: center;
	}
}
// Продукция
.section {
	.gallery-slider {
		padding: 0 10px;
		.block {
			box-shadow: 3px 3px 7px 0px $fontColor;
			margin: 30px 15px;
			text-align: center;
			display: block;
			height: 300px;
			width: 200px;
			padding: 30px 0;
			img {
				height: 80px;
				display: block;
				margin: 0 auto;	
			}
			h2{
				font-weight: 600;
				line-height: 1;
			}
			 button {
 				padding: 5px 15px;
 			}
		}
		.prev {
		left: -10%;
		}
		.next{
		right: -10%;
		}
	}
}
// Галлерея
.gallary {
	margin: 20px 0;
	.img1, .img2, .img3, .img4, .img5, .img6 {
	padding: 0 10px;	
	}
	.img1 {
	background-size: 210px auto;
	}
	.img2 {
	background-size: 210px auto;
	}
	.img3 {
	background-size: 210px auto;
	}
	.img4 {
	background-size: 210px auto;
	}
	.img5 {
	background-size: 210px auto;
	}
	.img6 {
	background-size: 210px auto;
	}
	.blackout {
	height: 280px;
	padding: 130px 25px;
		p {
		font-size: 15px;
		}
	}
}

// Подвал
.footer{
	height: 145px;
	p {
		font-size: 15px;
		line-height: 1.3;
	}
}
}