a:hover, button:hover, .button:hover {
  cursor: pointer;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  color: #3B2314;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  color: #3B2314;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 0.5;
  font-size: 35px;
  font-weight: 500;
}

a, p {
  font-family: "Manrope", sans-serif;
  font-size: 35px;
  color: #3B2314;
  text-align: center;
  font-weight: 500;
  line-height: 40px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #3B2314;
}

button {
  font-family: "Manrope", sans-serif;
  font-size: 35px;
  color: #3B2314;
  text-align: center;
  font-weight: 500;
  line-height: 40px;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #D3A760;
  border: none;
  font-weight: 700;
}

.menu {
  position: relative;
  z-index: 1000;
  padding-top: 10px;
  text-align: right;
  height: 110px;
  width: 100%;
  -webkit-box-shadow: 3px 3px 7px 0px #3B2314;
          box-shadow: 3px 3px 7px 0px #3B2314;
}
.menu img {
  width: 150px;
}

.header {
  background: url("../img/bg.jpg") bottom no-repeat;
  background-size: 100% auto;
  height: 820px;
  width: 100%;
}
.header .shadow {
  background-size: 100% auto;
  height: 820px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}
.header .row {
  width: 1915px;
}
.header .block {
  height: 820px;
  background-color: rgba(59, 35, 20, 0.6);
  padding: 150px 60px;
}
.header p {
  text-align: left;
  color: #FFF;
  font-weight: 300;
}

.section {
  text-align: center;
}
.section h1 {
  display: inline-block;
  background-color: #FFF;
  padding: 0 10px;
  margin: 60px;
}
.section .gallery-slider {
  padding: 0 50px;
}
.section .gallery-slider .block {
  -webkit-box-shadow: 3px 3px 7px 0px #3B2314;
          box-shadow: 3px 3px 7px 0px #3B2314;
  margin: 70px 50px;
  text-align: center;
  display: block;
  height: 450px;
  width: 300px;
  padding: 40px 0;
}
.section .gallery-slider .block img {
  height: 150px;
  display: block;
  margin: 0 auto;
}
.section .gallery-slider .block h2 {
  font-weight: 600;
  line-height: 1;
}
.section .gallery-slider .slick-center {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.section .gallery-slider .prev, .section .gallery-slider .next {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  z-index: 500;
  width: 2rem;
  height: 4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: 20%;
}
.section .gallery-slider .prev {
  background: url("../img/prev.svg") center no-repeat;
  background-size: 20%;
  left: -5%;
}
.section .gallery-slider .next {
  background: url("../img/next.svg") center no-repeat;
  background-size: 20%;
  right: -5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.line {
  border-top: 2px solid #3B2314;
  margin: -90px 0 90px;
}

.gallary {
  margin: 20px 0;
}
.gallary .img1 {
  background: url("../img/aram1.jpg") bottom no-repeat;
  background-size: auto 100%;
}
.gallary .img2 {
  background: url("../img/aram5.jpg") bottom no-repeat;
  background-size: auto 100%;
}
.gallary .img3 {
  background: url("../img/aram3.jpg") bottom no-repeat;
  background-size: auto 100%;
}
.gallary .img4 {
  background: url("../img/aram4.jpg") bottom no-repeat;
  background-size: auto 100%;
}
.gallary .img5 {
  background: url("../img/aram2.jpg") bottom no-repeat;
  background-size: auto 100%;
}
.gallary .img6 {
  background: url("../img/aram6.jpg") bottom no-repeat;
  background-size: auto 100%;
}
.gallary .blackout {
  background-color: rgba(59, 35, 20, 0);
  width: auto;
  height: 540px;
  padding: 250px 50px;
}
.gallary .blackout p {
  text-align: left;
  color: #FFF;
  font-size: 20px;
  opacity: 0;
}
.gallary .blackout:hover {
  background-color: rgba(59, 35, 20, 0.6);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.gallary .blackout:hover p {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.gallary img {
  width: 100%;
}
.gallary img:hover {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.footer {
  margin-top: 60px;
  padding-top: 15px;
  height: 200px;
  background-color: #D3A760;
  text-align: center;
}
.footer p {
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
}